<header class="app-header">
    <div class="logo-container">
        {{#link-to 'trainings'}}
        <img src="assets/trainoapp_logo.svg" alt="Traino logo">
        {{/link-to}}
    </div>
    <div class="buttons-container">

        {{#link-to 'trainings' class="btn-header"}}
        <img src="assets/back.svg" alt="button">
        <span>Back</span>
        {{/link-to}}
    </div>
</header>
<div class="container-app">
    <form class="app-form">
        <h2>Edit profile</h2>
        <div class="form-group-edit-profile">
            {{input type="text" value=model.name placeholder="Name"}}
            {{input type="text" value=model.mail placeholder="mail"}}
        </div>
        <div class="form-group-edit-profile">
            {{input type="text" value=model.phone placeholder="phone"}}
            {{input type="text" value=model.address placeholder="adress"}}
        </div>
        <button {{action 'updateProfile' model}} class="btn submit">Save</button>

    </form>
</div>