<div class="container">
    <div class="profile-container">
        <h2>Profile</h2>
        <div class="avatar-container">
            <img src="assets/avatar_user@2x.png" alt="avatar">
        </div>

        <h3>{{model.name}}</h3>

        <div class="details-container">
            <div class="mail-container">
                <img src="assets/ic_email_24px.svg" alt="mail">
                <p>{{model.mail}}</p>
            </div>

            <div class="phone-container">
                <img src="assets/ic_call_end_24px.svg" alt="mail">
                <p>{{model.phone}}</p>
            </div>

            <div class="location-container">
                <img src="assets/ic_location_on_24px.svg" alt="mail">
                <div class="address">
                    {{!-- <p>Ul. Jana Pawła 32</p> <br />
                    <p>73-456 Warszawa</p> --}}
                    <p> {{model.address}}</p>
                </div>
            </div>
            <div class="google-map">
               {{g-map lat="52.179100" lng="21.072728" zoom=17}}
               {{g.marker
      lat="52"
      lng="21"
      draggable=true
      }}
            </div>



        </div>

        {{#link-to 'trainings.profile-edit' class='btn edit'}}Edit{{/link-to}}
    </div>


    <div class="trainings-container">

        {{outlet}}

    </div>

</div>